body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/Map_of_America.png/800px-Map_of_America.png');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    
}
header {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    text-align: center;
}
main {
    padding: 20px;
}
.country-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.text-info {
    width: 60%;
}
.text-info h2 {
    margin-top: 0;
}
.image {
    width: 35%;
}
.image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}


.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.card-body {
    transition: background-color 0.3s ease;
}

.card:hover .card-body {
    background-color: #f1f1f1; 
}

#map {
    height: 400px; /* Altura del mapa */
    width: 100%;
}

.card-img-top {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    height: 200px; /* Establece una altura fija para la imagen */
    object-fit: cover; /* Hace que la imagen se recorte para cubrir todo el área sin distorsionarse */
    object-position: center; /* Centra la imagen dentro de su contenedor */
}

.card.selected {
    transform: scale(1.05);  /* Aumenta el tamaño de la card al 105% */
    background-color: #f8f9fa;  /* Cambia el fondo a un gris claro */
    transition: transform 0.3s ease, background-color 0.3s ease;  /* Transición suave */
}

.card.selected img {
    transform: scale(1.1);  /* Aumenta el tamaño de la imagen dentro de la card */
    transition: transform 0.3s ease;
}
